<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
	<!--
		Copyright 2002, 2003 Sun Microsystems, Inc. All Rights Reserved.
	-->

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ListComplex</servlet-name>
		<display-name>ListComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.ListComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteComplex</servlet-name>
		<display-name>DeleteComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.DeleteComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComplex</servlet-name>
		<display-name>AddComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.AddComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBooking</servlet-name>
		<display-name>AddBooking</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.AddBooking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAvailableHours</servlet-name>
		<display-name>GetAvailableHours</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.GetAvailableHours</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailedViewComplex</servlet-name>
		<display-name>DetailedViewComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.DetailedViewComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyComplex</servlet-name>
		<display-name>ModifyComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.ModifyComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListField</servlet-name>
		<display-name>ListField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.ListField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error404</servlet-name>
		<display-name>Error404</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.error.Error404</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error500</servlet-name>
		<display-name>Error500</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.error.Error500</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorException</servlet-name>
		<display-name>ErrorException</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.error.ErrorException</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addField</servlet-name>
		<display-name>addField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.AddField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyField</servlet-name>
		<display-name>ModifyField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.ModifyField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteField</servlet-name>
		<display-name>DeleteField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.DeleteField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailedViewField</servlet-name>
		<display-name>DetailedViewField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.DetailedViewField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DB</servlet-name>
		<display-name>DB</display-name>
		<description></description>
		<servlet-class>
			com.canchita.service.DB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.guest.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenericServlet</servlet-name>
		<display-name>GenericServlet</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.GenericServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<display-name>Home</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.registered.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.registered.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LastFields</servlet-name>
		<display-name>LastFields</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.rss.LastFields</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.guest.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeadBooking</servlet-name>
		<display-name>DeadBooking</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.rss.DeadBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListComplex</servlet-name>
		<url-pattern>/ListComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComplex</servlet-name>
		<url-pattern>/DeleteComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComplex</servlet-name>
		<url-pattern>/AddComplex</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddBooking</servlet-name>
		<url-pattern>/field/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAvailableHours</servlet-name>
		<url-pattern>/field/getavailablehours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addField</servlet-name>
		<url-pattern>/field/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyField</servlet-name>
		<url-pattern>/field/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteField</servlet-name>
		<url-pattern>/field/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailedViewField</servlet-name>
		<url-pattern>/field/detailedview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailedViewComplex</servlet-name>
		<url-pattern>/DetailedViewComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyComplex</servlet-name>
		<url-pattern>/ModifyComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListField</servlet-name>
		<url-pattern>/field/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error404</servlet-name>
		<url-pattern>/error/404</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error500</servlet-name>
		<url-pattern>/error/500</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorException</servlet-name>
		<url-pattern>/error/servererror</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/user/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DB</servlet-name>
		<url-pattern>/db</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/user/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LastFields</servlet-name>
		<url-pattern>/LastFields</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/user/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeadBooking</servlet-name>
		<url-pattern>/DeadBooking</url-pattern>
	</servlet-mapping>
	
<!-- BEGIN Error Handling -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>


	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/servererror</location>
	</error-page>
	<!-- END Error Handling -->

	<!-- BEGIN filters -->
	<filter>
		<filter-name>Authentication Filter</filter-name>
		<filter-class>com.canchita.filter.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.canchita.listener.JDBCListener</listener-class>
	</listener>

	<!-- END filters -->

</web-app>
