<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
	<!--
		Copyright 2002, 2003 Sun Microsystems, Inc. All Rights Reserved.
	-->

<web-app>

	<!-- BEGIN filters -->
	<filter>
		<filter-name>Authentication Filter</filter-name>
		<filter-class>com.canchita.filter.AuthenticationFilter</filter-class>
	</filter>

	<filter>
		<filter-name>Generic Filter</filter-name>
		<filter-class>com.canchita.filter.GenericFilter</filter-class>
	</filter>

	<filter>
		<filter-name>ACL Filter</filter-name>
		<filter-class>com.canchita.filter.ACLFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter-mapping>
		<filter-name>Generic Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter-mapping>
		<filter-name>ACL Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- END filters -->

	<!-- BEGIN listeners -->

	<listener>
		<listener-class>com.canchita.listener.JDBCListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.canchita.listener.DropReservationListener</listener-class>
	</listener>

	<!-- END listeners -->
	
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ListComplex</servlet-name>
		<display-name>ListComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.ListComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteComplex</servlet-name>
		<display-name>DeleteComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.DeleteComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComplex</servlet-name>
		<display-name>AddComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.AddComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBooking</servlet-name>
		<display-name>AddBooking</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.AddBooking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddManyBookings</servlet-name>
		<display-name>AddManyBookings</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.AddManyBookings</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAvailableHours</servlet-name>
		<display-name>GetAvailableHours</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.GetAvailableHours</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailedViewComplex</servlet-name>
		<display-name>DetailedViewComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.DetailedViewComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyComplex</servlet-name>
		<display-name>ModifyComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.ModifyComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyScoreSystem</servlet-name>
		<display-name>ModifyScoreSystem</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.scoresystem.ModifyScoreSystem</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowScoreSystem</servlet-name>
		<display-name>ShowScoreSystem</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.scoresystem.ShowScoreSystem</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>DeleteExpirationPolicy</servlet-name>
		<display-name>DeleteExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.DeleteExpirationPolicy</servlet-class>
	</servlet>
			<servlet>
		<servlet-name>DeleteFieldExpirationPolicy</servlet-name>
		<display-name>DeleteFieldExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.DeleteFieldExpirationPolicy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListExpirationPolicy</servlet-name>
		<display-name>ListExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.ListExpirationPolicy</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>ListFieldExpirationPolicy</servlet-name>
		<display-name>ListFieldExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.ListFieldExpirationPolicy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddExpirationPolicy</servlet-name>
		<display-name>AddExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.AddExpirationPolicy</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>AddFieldExpirationPolicy</servlet-name>
		<display-name>AddFieldExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.AddFieldExpirationPolicy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyExpirationPolicy</servlet-name>
		<display-name>ModifyExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.ModifyExpirationPolicy</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>ModifyFieldExpirationPolicy</servlet-name>
		<display-name>ModifyFieldExpirationPolicy</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.ModifyFieldExpirationPolicy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListField</servlet-name>
		<display-name>ListField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.ListField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error404</servlet-name>
		<display-name>Error404</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.error.Error404</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error500</servlet-name>
		<display-name>Error500</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.error.Error500</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorException</servlet-name>
		<display-name>ErrorException</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.error.ErrorException</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addField</servlet-name>
		<display-name>addField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.AddField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyField</servlet-name>
		<display-name>ModifyField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.ModifyField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteField</servlet-name>
		<display-name>DeleteField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.DeleteField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailedViewField</servlet-name>
		<display-name>DetailedViewField</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.DetailedViewField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.guest.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenericServlet</servlet-name>
		<display-name>GenericServlet</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.GenericServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<display-name>Home</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.registered.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.registered.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LastFields</servlet-name>
		<display-name>LastFields</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.rss.LastFields</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.guest.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeadBooking</servlet-name>
		<display-name>DeadBooking</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.rss.DeadBooking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FinishRegister</servlet-name>
		<display-name>FinishRegister</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.guest.FinishRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<display-name>Profile</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.user.registered.Profile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>charly</servlet-name>
		<display-name>charly</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.test.charly</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pablo</servlet-name>
		<display-name>pablo</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.test.pablo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>maxi</servlet-name>
		<display-name>maxi</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.test.maxi</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>juani</servlet-name>
		<display-name>juani</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.test.juani</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>lombo</servlet-name>
		<display-name>lombo</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.test.lombo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>martin</servlet-name>
		<display-name>martin</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.test.martin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListRSS</servlet-name>
		<display-name>ListRSS</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.rss.ListRSS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListComplex</servlet-name>
		<url-pattern>/ListComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComplex</servlet-name>
		<url-pattern>/DeleteComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComplex</servlet-name>
		<url-pattern>/AddComplex</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddBooking</servlet-name>
		<url-pattern>/field/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddManyBookings</servlet-name>
		<url-pattern>/field/bookmany</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAvailableHours</servlet-name>
		<url-pattern>/field/getavailablehours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addField</servlet-name>
		<url-pattern>/field/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyField</servlet-name>
		<url-pattern>/field/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteField</servlet-name>
		<url-pattern>/field/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailedViewField</servlet-name>
		<url-pattern>/field/detailedview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyScoreSystem</servlet-name>
		<url-pattern>/scoresystem/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowScoreSystem</servlet-name>
		<url-pattern>/scoresystem/ShowScoreSystem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListExpirationPolicy</servlet-name>
		<url-pattern>/ListExpirationPolicy</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ListFieldExpirationPolicy</servlet-name>
		<url-pattern>/field/ListFieldExpirationPolicy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteExpirationPolicy</servlet-name>
		<url-pattern>/DeleteExpirationPolicy</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DeleteFieldExpirationPolicy</servlet-name>
		<url-pattern>/field/DeleteFieldExpirationPolicy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyExpirationPolicy</servlet-name>
		<url-pattern>/ModifyExpirationPolicy</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ModifyFieldExpirationPolicy</servlet-name>
		<url-pattern>/field/ModifyFieldExpirationPolicy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddExpirationPolicy</servlet-name>
		<url-pattern>/AddExpirationPolicy</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AddFieldExpirationPolicy</servlet-name>
		<url-pattern>/field/AddFieldExpirationPolicy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailedViewComplex</servlet-name>
		<url-pattern>/DetailedViewComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyComplex</servlet-name>
		<url-pattern>/ModifyComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListField</servlet-name>
		<url-pattern>/field/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error404</servlet-name>
		<url-pattern>/error/404</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error500</servlet-name>
		<url-pattern>/error/500</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorException</servlet-name>
		<url-pattern>/error/servererror</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/user/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/user/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LastFields</servlet-name>
		<url-pattern>/LastFields</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/user/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeadBooking</servlet-name>
		<url-pattern>/DeadBooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinishRegister</servlet-name>
		<url-pattern>/user/finishregister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/user/profile</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>charly</servlet-name>
		<url-pattern>/test/charly</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pablo</servlet-name>
		<url-pattern>/test/pablo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>maxi</servlet-name>
		<url-pattern>/test/maxi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>juani</servlet-name>
		<url-pattern>/test/juani</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lombo</servlet-name>
		<url-pattern>/test/lombo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>martin</servlet-name>
		<url-pattern>/test/martin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListRSS</servlet-name>
		<url-pattern>/ListRSS</url-pattern>
	</servlet-mapping>

	<!-- BEGIN Error Handling -->

	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/error/404</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/servererror</location>
	</error-page>
	<!-- END Error Handling -->


</web-app>
