<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ListComplex</servlet-name>
		<display-name>ListComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.ListComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteComplex</servlet-name>
		<display-name>DeleteComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.DeleteComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComplex</servlet-name>
		<display-name>AddComplex</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.complex.AddComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBooking</servlet-name>
		<display-name>AddBooking</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.booking.AddBooking
    	</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAttendingHours</servlet-name>
		<display-name>GetAttendingHours</display-name>
		<description></description>
		<servlet-class>
			com.canchita.controller.field.GetAttendingHours</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListComplex</servlet-name>
		<url-pattern>/ListComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComplex</servlet-name>
		<url-pattern>/DeleteComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComplex</servlet-name>
		<url-pattern>/AddComplex</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddBooking</servlet-name>
		<url-pattern>/field/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAttendingHours</servlet-name>
		<url-pattern>/field/getattendinghours</url-pattern>
	</servlet-mapping>


</web-app>
