<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">  
<!--  
	Copyright 2002, 2003 Sun Microsystems, Inc. All Rights Reserved.  
--> 
 
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ListComplex</servlet-name>
		<display-name>ListComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.ListComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteComplex</servlet-name>
		<display-name>DeleteComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.DeleteComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComplex</servlet-name>
		<display-name>AddComplex</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.complex.AddComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBooking</servlet-name>
		<display-name>AddBooking</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.AddBooking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAvailableHours</servlet-name>
		<display-name>GetAvailableHours</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.field.GetAvailableHours</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminHome</servlet-name>
		<display-name>AdminHome</display-name>
		<description></description>
		<servlet-class>com.canchita.controller.admin.AdminHome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailedViewComplex</servlet-name>
		<display-name>DetailedViewComplex</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.complex.DetailedViewComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyComplex</servlet-name>
		<display-name>ModifyComplex</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.complex.ModifyComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListField</servlet-name>
		<display-name>ListField</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.field.ListField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error404</servlet-name>
		<display-name>Error404</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.error.Error404</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error500</servlet-name>
		<display-name>Error500</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.error.Error500</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorException</servlet-name>
		<display-name>ErrorException</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.error.ErrorException</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addField</servlet-name>
		<display-name>addField</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.field.addField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyField</servlet-name>
		<display-name>ModifyField</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.field.ModifyField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteField</servlet-name>
		<display-name>DeleteField</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.field.DeleteField</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetaildedViewField</servlet-name>
		<display-name>DetaildedViewField</display-name>
		<description></description>
		<servlet-class>
		com.canchita.controller.field.DetaildedViewField</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListComplex</servlet-name>
		<url-pattern>/ListComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComplex</servlet-name>
		<url-pattern>/DeleteComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComplex</servlet-name>
		<url-pattern>/AddComplex</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddBooking</servlet-name>
		<url-pattern>/field/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAvailableHours</servlet-name>
		<url-pattern>/field/getavailablehours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminHome</servlet-name>
		<url-pattern>/admin/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailedViewComplex</servlet-name>
		<url-pattern>/DetailedViewComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyComplex</servlet-name>
		<url-pattern>/ModifyComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListField</servlet-name>
		<url-pattern>/ListField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error404</servlet-name>
		<url-pattern>/error/404</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error500</servlet-name>
		<url-pattern>/error/500</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorException</servlet-name>
		<url-pattern>/error/servererror</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addField</servlet-name>
		<url-pattern>/addField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyField</servlet-name>
		<url-pattern>/ModifyField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteField</servlet-name>
		<url-pattern>/DeleteField</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetaildedViewField</servlet-name>
		<url-pattern>/DetaildedViewField</url-pattern>
	</servlet-mapping>
	
<!-- BEGIN Error Handling -->
	<!-- TODO agregar HTTP error 500 server error -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>


	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/servererror</location>
	</error-page>
<!-- END Error Handling -->

</web-app>
